
#img{

background-image: url('images/backgrounds/h_img.jpg');
height: 80vh;
width: 100%;
color: white;
/* margin: 0 auto; */
}
 #logo {
display: flex;
justify-content: center;
}

 #logo{
padding-top: 200px;

}
#mouse{
    display: flex;
    justify-content: center;
    padding-top:30px;}
.content{
text-align: center;
}
.content #up{
font-size: 50px;    
}


/*ABOUT US*/
h3{
text-align: center;
padding-top: 30px;
}
/*SERVICES*/

#serv{
position:relative;
background-image: url('images/backgrounds/s_image.jpg');
width: 100%;
background-repeat: no-repeat;
color:white;
padding-top: 30px;
}

/*WHAT WE DO */

/*PORTFOLIO*/

.port{
    display:flex;
    justify-content:space-evenly;
}
.work{
    position:relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
.pDscrptn{
    position: absolute;
    text-align: center;
    color:white;
    border: 2px solid white;
    height: 50%;
    width: 50%;
    font-size: 20px;
    padding-top:35px;
    background-color: black;
    opacity: 0.8;
    display:none;


    /* margin:0 auto; */
    
    }


.port1{
    display:flex;
    justify-content:space-evenly;
    
}

/*CONTACT US*/

.contact{
background-image:url('images/backgrounds/c_image.jpg');
/* height: 50vh; */
width: 100%;
background-repeat: no-repeat;
color:white;
}

#form{
display: flex;
justify-content: center;

}

#form input{
width: 30%;
background-color: transparent;
color:white;
}
::placeholder{
    color: white;
    padding: 10px;
}

textarea{
background-color: transparent;
color:white;
margin-top:20px;
margin-bottom: 10px;
}

.text{
display: flex;
justify-content: center;
}

/*SOCIAL ICONS*/
.social{
 display:flex;
 justify-content:center;
}

.social img{
    padding: 20px;
}
